

img {
  width: 50%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.deck {
  width: 80%;
  background-color: #003755;
  padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
  height: 10rem;
	width: 10rem;
	margin: 1rem 1rem;
	background: #0091E5;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

