body {
  background-color: #B6C4CD;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  color: #25283D;
}

header {
  font-size: 2rem;
  padding: 0;
}

.container {
  display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.scoreArea {
  display: inline-block;
  margin: .5rem;
}

button {
  background-color: #B6C4CD;
  color: #25283D;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

button#playAgain {
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
}

.deck {
  background-color: #25283D;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  height: 10rem;
  width: 10rem;
  background-color: #375D77;
  font-size: 0;
  color: #FCF7FF;
  margin: 1rem 1rem;
  list-style: none;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.card:hover {
  animation: pulse 2s infinite;
  cursor: pointer;
}

.card.green {
  background-color: #4DAA57;
  font-size: 7rem;
  animation: none;
}

.card.orange {
  background-color: #F4743B;
  font-size: 7rem;
  animation: none;
}

.card.selected {
  user-select: none;
  cursor: none;
}

.card.matched {
  user-select: none;
  cursor: none;
}

#winnerPop {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#winnerPopContent {
  text-align: center;
  font-size: 2rem;
  background-color: #B6C4CD;
  color: #25283D;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: auto;
  border-radius: 5px;
}

#close {
  color: #25283D;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(182,196,205, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(82,196,205, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(82,196,205, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(82,196,205, 0.4);
    box-shadow: 0 0 0 0 rgba(82,196,205, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(82,196,205, 0);
      box-shadow: 0 0 0 10px rgba(82,196,205, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(282,196,205, 0);
      box-shadow: 0 0 0 0 rgba(82,196,205, 0);
  }
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }

  .deck {
    height: 95%;
    width: 95%;
  }

  .card {
    height: 4rem;
    width: 4rem;
    margin: .5rem .5rem;
  }

  .card:hover {
    animation: none;
  }

  .card.green {
    font-size: 2rem;
  }
  .card.orange {
    font-size: 2rem;
  }
}
