body {
  background-color: #B6C4CD;
}

.container {
  display: flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.deck {
  background-color: #25283D;
  width: 80%;
  height: 80%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  height: 10rem;
  width: 10rem;
  background-color: #375D77;
  font-size: 0;
  color: white;
  margin: 1rem 1rem;
  list-style: none;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.card.green {
  background-color: #4DAA57;
  font-size: 7rem;
}

.card.orange {
  background-color: #F4743B;
  font-size: 7rem;
}

.card.selected {
  user-select: none;
}

.card.matched {
  user-select: none;
}
